.article {
  width: 100vw;
  min-height: 100rem;
  background-color: white;
  position: absolute;
  top: 54rem;
  padding-bottom: 5rem;
  left: 0;

  @media(max-width: 1200px) {
    top: 50rem;
  }

  @media(max-width: 991px) {
    margin-top: 48rem;
  }

  @media(max-width: 870px) {
    margin-top: 43rem;
  }

  @media(max-width: 775px) {
    margin-top: 38rem;
  }

  @media(max-width: 675px) {
    margin-top: 31rem;
  }

  @media(max-width: 575px) {
    margin-top: 25rem;
  }

  @media(max-width: 500px) {
    margin-top: 22rem;
  }

  @media(max-width: 460px) {
    min-width: 100vw;
    width: 100vw;
  }
}

.article-content {
  width: 90%;
  max-width: 67.2rem;
  margin: 3rem auto 0;

  &__title {
    margin-top: 0;
    margin-bottom: 16px;
    color: #353e44;
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: -0.04em;
  }

  &__body {
    margin-bottom: 1.6rem;
    margin-top: 0;
    font-size: 1.6rem;
    color: rgb(79, 92, 101);
    line-height: 2.4rem;
  }

  &__subtitle {
    margin-top: 0;
    margin-bottom: 1.2rem;
    color: #353e44;
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 700;
    letter-spacing: -0.02em;
  }

  &__quote {
    margin-top: 3.6rem;
    margin-bottom: 3.6rem;
    padding-left: 3.6rem;
    border-left: 2px solid #e9eef1;
    color: #0087ee;
    font-size: 2rem;
    line-height: 3rem;
    margin-left: 0;
    width: 100%;

    @media(max-width: 767px) {
      margin-top: 2.4rem;
      margin-bottom: 2.4rem;
      padding-left: 2.4rem;
      padding-right: 0;
    }
  }

  &__photo {
    width: 100%;
    margin-top: 2rem;
    border-radius: 1rem;

    @media(max-width: 767px) {
      border-radius: 0.5rem;
    }
  }

  &__caption {
    color: rgb(79, 92, 101);
    font-size: 1.4rem;
    text-align: center;
    line-height: 2.4rem;
    margin-top: 0.8rem;
    margin-bottom: 5rem;
  }

}