// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
    background-color: #F7FAFC;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}