.card {
  border: 0.1rem solid rgb(226, 226, 226);
  width: 30rem;
  flex: 1;
  flex-basis: 30rem;
  height: auto;
  max-width: 71.7rem;
  min-width: 24.9rem;
  transition: 0.2s;
  margin: 1rem;
  border-radius: 1rem;
  text-align: left;

  @media(max-width: 500px) {
    max-width: 40rem;
  }

  @media(max-width: 450px) {
    max-width: 38rem;
  }

  @media(max-width: 425px) {
    transform: scale(0.95);
  }

  &:hover {
    transform: scale(1);
  }

  &__img {
    height: auto;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 100%;
  }
}


.card-body {
  width: 100%;
  min-height: 20rem;
  height: auto;
  background-color: white;
  padding: 2.4rem;

  &__title {
    margin-top: 0;
    margin-bottom: 1.2rem;
    color: #353e44;
    font-size: 2.8rem;
    line-height: 3.2rem;
    font-weight: 700;
    letter-spacing: -0.03em;
  }

  &__subtitle {
    margin-top: 0;
    margin-bottom: 1.6rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: rgb(79, 92, 101);
  }
}

.card-footer {
  width: 100%;
  border-top: 1px solid rgb(233, 238, 241);
  padding: 2.4rem;
  background-color: white;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;

  @media(max-width: 991px) {
    padding: 1.2rem;
  }
}


.cards-wrapper {
  min-width: 100vw;
  background-color: #F7FAFC;
  min-height: 50rem;
  position: absolute;
  top: 236rem;
  left: 0;
  text-align: center;

  &__title {
    color: rgb(53, 62, 68);
    font-size: 4rem;
    letter-spacing: -0.12rem;
    line-height: 4.8rem;
    font-weight: 700;
    margin-top: 7rem;
    margin-bottom: 7.5rem;
  }

  @media(max-width: 1200px) {
    top: 232rem;
  }

  @media(max-width: 991px) {
    top: 280rem;
  }

  @media(max-width: 870px) {
    top: 275rem;
  }

  @media(max-width: 775px) {
    top: 270rem;
  }

  @media(max-width: 490px) {
    margin-top: 10rem;
  }
}

.cards-grid {
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  margin: 0 auto;
  flex-wrap: wrap;
  width: 120rem;

  @media(max-width: 1270px) {
    width: 94vw;
  }

  @media(max-width: 1022px) {
    width: 45rem;
  }
}


