.divider-rounded {
  max-height: 6.7rem;
  width: 100vw;
  z-index: 3;
  position: relative;
  top: 46rem;

  &__img {
    height: 100%;
    max-height: 6.7rem;
    width: 100vw;
  }

  @media(max-width: 1352px) {
    top: 42rem;
  }

  @media(max-width: 1195px) {
    top: 36rem;
  }

  @media(max-width: 991px) {
    margin-top: 50rem;
  }

  @media(max-width: 989px) {
    top: 85rem;
    margin-top: 0rem;
  }

  @media(max-width: 950px) {
    display: none;
    opacity: 0;
  }
}


.divider-rounded-2 {
  height: 7rem;
  width: 100vw;
  margin-top: 0;

  &__img {
    width: 100vw;
    height: 7rem;
    z-index: 500;
  }
}